*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Color1: black;
    --Color2: white;
    --Fuentesize: 35px;
    --backgroud1: rgba(0,0,0,0.5);
    --backgroud2: rgba(107, 8, 228, 0.5);
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--Fuentesize);
    border:1px solid var(--Color1);
    background: var(--Color1);
    color:var(--Color2);
}
.container-total{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
}
.contenedor-input{
    background-color: white;
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    font-size: 15px;
    text-transform: uppercase;
}

.label-esri-class{
    font-weight: bold;
}
 
.Mapa-ESRI{
    width: 100%;
    height: 400px;
    position: relative;
}

.tableContainer{
    width: 100%;
    height: 200px;
    display: none;

}
.tableDiv{
    width: 100%;
    height: 100%;
}

.datos{
    position: absolute;
    right: 0;
    top:100px;
    width: 300px;
    height: 80px;
    background: var(--backgroud2);
    color: white;
}
.datos > h2{
    text-align: center;
}

@media (max-width:768px){
    header{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        border:1px solid var(--Color1);
        background: var(--Color1);
        color:var(--Color2);
    }

    .Mapa-ESRI{
        width: 100%;
        height: 700px;
        position: relative;
    }

}